. font {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
}

.danger {
  color: rgb(218, 3, 3);
}

#home {
  background-color: rgb(218, 3, 3);
  margin-top: 40px;
}

#home2 {
  background-color: black;
}

.img {
  height: 400px;
}

.top {
  height: 198px;
  object-fit: cover;
}

.tp {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.dv {
  display: inline-block;
}

.outline {
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 1px;
  border-style: solid;
  border-color: red;

  margin-bottom: 20px;
}

.bg {
  border-radius: 20px;
}

.nav {
  margin-left: 20px;
  color: gold;
}

.my ul li {
  margin-left: 10px;
}

.text {
  color: gold;
}

#rev {
  background-color: gold;
}
